*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

button,
input,
select,
textarea {
  color: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-width: 100%;
}
